<div class="mt-4">
  <h3>Đăng khóa học</h3>
  <form method="POST" action="./store">
    <div class="form-group">
      <label for="name">Course Name</label>
      <input type="text" class="form-control" id="courseNameInput" name="name">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="descriptionInput" name="description">
    </div>
    <div class="form-group">
      <label for="description">VideoId</label>
      <input type="text" class="form-control" id="descriptionInput" name="videoId">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>